body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e0e0e0; /* Alterado para cinza claro */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

.header-container {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.site-title {
  margin: 0;
  margin-right: 20px; /* Adicionando espaçamento à direita do título */
}

.header-sections {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.cart-icon {
  cursor: pointer;
}

.search-box {
  display: flex;
  margin-right: 20px;
}

.search-box input {
  padding: 8px;
  border: 1px solid #080707;
  border-radius: 4px;
  margin-right: 4px;
}

.search-box button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
  margin-left: 20px;
  color: #fff;
}

main {
  padding: 20px;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #180c0c;
  padding: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
  background-color: #e7f1ca; /* Adiciona cor de fundo aos cards */
  max-width: 250px;
}
.product img {
  width: 100%;
  height: 60%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .products {
    flex-direction: column;
    align-items: center;
  }

  .product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%;
    max-width: none;
  }
}

.price {
  font-weight: bold;
  color: #e44d26;
}

button {
  background-color: #e44d26;
  color: #fff;
  padding: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}
